<div class="container">
  <div class="row mt-1">
    <div class="col-12 mt-4">
      <div style="text-align:center">
        <!-- *ngIf="spinner;else spin" -->
        <div>
          <form class="mt-4" [formGroup]="messageForm" (ngSubmit)="addNewMessage()">

            <div class="row">
              <div class="col-4">
                <img src="../../../assets/MY356MSG.svg" alt="" style="margin: 0 auto; padding-top:10%; padding-bottom:10px; width:100%; ">
              </div>
              <div class="col-8">
                <p>Welcome
                  <br>
                  <span class="text-info">Beshoy Refky</span>
                  <!-- <span class="text-info">{{senderName}}</span> -->
                </p>
              </div>
            </div>

            <small id="passwordHelpInline" class="text-muted">
              <!-- You had entered {{messageForm.value['messageField'].length}} of 250 characters. -->
            </small>
            <div class="input-group">
              <textarea rows="7" maxlength="250" formControlName="messageField" class="form-control" placeholder="New Message"></textarea>
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" (click)="addNewMessage()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </span>
            </div>
            <!-- <button type="button" class="btn btn-block btn-primary my-4" (click)="loadData()">Load Data</button> -->
            <p class="lead">You had entered
              <span class="text-primary">{{msgCounter}}</span> of 356 messages</p>
            <div class="row">
              <div class="col-12">
                <!-- formArrayName="messages" -->
                <div class="row" *ngFor="let message of userMessages; let i = index">

                  <div class="col-12">
                    <div class="row mb-1">
                      <div class="col-12">
                        <!-- [disable]="messageForm.messages.message.viewDate != 0 || 0" -->
                        <div class="input-group">
                          <span class="input-group-addon">{{i+1}}</span>
                          <textarea maxlength="250" class="form-control" placeholder="Empty Message" [disabled]="message.viewDate != 0">{{message.content}}</textarea>
                          <span class="input-group-btn">
                            <div class="row" style="width:70px">
                              <div class="col-12">
                                <button class="btn btn-block btn-danger" type="button" (click)="onDeleteTask(i)" [disabled]="message.viewDate != 0">
                                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                              </div>
                              <div class="col-12">
                                <button class="btn btn-block btn-primary" type="button" (click)="onEditMessage(message.content,i)" [disabled]="message.viewDate != 0">
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                              </div>
                            </div>
                          </span>
                        </div>
                        <!-- <p class="form-text text-muted" *ngIf="message.viewDate !=0"> -->
                        <p class="form-text text-muted" *ngIf="message.viewDate ===0">
                          {{'Viewed at ' +(message.viewDate | date:'M/d/yy, h:mm a')}}
                        </p>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- <hr>
                <button type="button" class="btn btn-block btn-danger mt-4" (click)="logout()">Log Out</button> -->
              </div>
            </div>

          </form>
        </div>
        <!-- <ng-template #spin>
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube" style="background-color:#21D8DE"></div>
    <div class="sk-cube2 sk-cube" style="background-color:#02ACAB"></div>
    <div class="sk-cube4 sk-cube" style="background-color:#ef5050"></div>
    <div class="sk-cube3 sk-cube" style="background-color:#FF4C4D"></div>
  </div>

  <h4 class="display-4" style="text-align:center">Loading Your Message</h4>
</ng-template> -->
      </div>
    </div>
  </div>