<div class="col-12">
  <h3 class="my-3 text-dark text-center">Forget password</h3>
  <form *ngIf="!matchAnswer && missCounter < maxMistakes" [formGroup]="securityQuestionForm">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Security Question</label>
      <div class="col-sm-10">
        <input type="text" readonly formControlName="securityQuestion" class="form-control-plaintext lead" value="{{securityQuestion}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Answer</label>
      <div class="col-sm-10">
        <input type="text" formControlName="securityAnswer" class="form-control" placeholder="Your Answer">
      </div>
    </div>
    <button class="btn btn-primary mt-2 btn-block " type="button" (click)="onCheckAnswer()">Submit my answer</button>
  </form>
  <form *ngIf="matchAnswer" [formGroup]="sendEmailForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" formControlName="senderEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <small id="emailHelp" class="form-text text-danger" *ngIf="ShowInvalidEmai">Please Enter Valid Email to user foget my password service.</small>
      <button class="btn btn-primary mt-2 btn-block " type="button" (click)="sendEmail()">Submit and Send Email</button>
    </div>
  </form>

  <form *ngIf="false" [formGroup]="newPasswordForm">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Security Question</label>
      <div class="col-sm-10">
        <input type="password" formControlName="password" class="form-control" placeholder="New password">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Answer</label>
      <div class="col-sm-10">
        <input type="password" formControlName="confirmPassword" class="form-control" placeholder="confirm password">
      </div>
    </div>
    <button class="btn btn-primary mt-2 btn-block " type="button" (click)="onSaveEdit()">Submit changes</button>
  </form>
  <div *ngIf="!matchAnswer && missCounter >= maxMistakes" class="card text-white bg-danger" >
    <div class="card-header">Invalid Answer</div>
    <div class="card-body">
      <h5 class="card-title">Security violation</h5>
      <p class="card-text lead">This account is temporarily locked please check your email to know your temporary password</p>
    </div>
  </div>
</div>