<div style="text-align:center">
    <div class="foatback " *ngIf="!(router.url === '/auth/login')">
        <a (click)="backClicked()" class="text-dark">
            <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
        </a>
    </div>
    <div class="foathome " *ngIf="!(router.url === '/auth/login')">
        <a routerLink="/" class="text-dark">
            <i class="fa fa-home fa-lg" aria-hidden="true"></i>
        </a>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>