<div class="container">
  <div class="row mt-1">
    <div class="col-12 mt-4">
      <div style="text-align:center">
        <img src="../../../assets/MY356MSG.svg" alt="" style="margin: 0 auto; padding-top:10%; padding-bottom:10px; width:60%; ">
        <button type="button" class="btn btn-block btn-outline-primary btn-lg mt-4" (click)="gotoMessageControl()">Go To Message Control</button>
        <button class="btn btn-primary btn-block" type="button" (click)="onShowMessageAsReceiver()">Show me today's Message</button>
        <button class="btn btn-primary btn-block" type="button" (click)="gotoEditUser()">Edit Profile</button>
        <button class="btn btn-primary btn-block" type="button" (click)="test()">Test Buuton</button>
        <div class="fixed-bottom px-4 bg-white">
          <button type="button" class="btn btn-block btn-danger my-2 " (click)="onLogout()">Log Out</button>
        </div>
      </div>
    </div>
  </div>
</div>